<!DOCTYPE html>
<html>
  <head>
    <title>Freestyle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Ultra" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
  </head>
  <body background="https://cdn.swimswam.com/wp-content/uploads/2018/03/stock-by-Mike-Lewis-LDM_1946-2.jpg">

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#" id="home_link">Freestyle</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#" id="profile_link">Profile<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#" id="events_link">Events<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#" id="teams_link">Teams<span class="sr-only">(current)</span></a>
        </li>
      </ul>

    </div>
  </nav>

  <!-- main body div -->
  <div class="content" id="main_content">
    <%= yield %>
  </div>

    <!-- handlebars templates -->
    <script id="events-index-template" type="text/x-handlebars-template">
      {{#each this}}
        <div class="event_card">
        <p style="font-size: 1.3em" id="event-{{ id }}">{{ attributes.name }}</p>
        {{#if_eq attributes.stroke "freestyle"}}
          <img src="https://i.imgur.com/vKE57Vm.jpg">
        {{/if_eq}}
        {{#if_eq attributes.stroke "breaststroke"}}
          <img src="https://i.imgur.com/JR51SU3.jpg">
        {{/if_eq}}
        {{#if_eq attributes.stroke  "backstroke"}}
          <img src="https://i.imgur.com/VBbdzdP.jpg">
        {{/if_eq}}
        {{#if_eq attributes.stroke "butterfly"}}
          <img src="https://i.imgur.com/CKgE6Le.jpg">
        {{/if_eq}}
        <button class="edit_button" id="events/{{ id }}/edit">Edit</>
        <button class="delete_button" id="vents/{{ id }}">Delete</><br>
        </div>
      {{/each}}
    </script>

    <script id="profile-template" type="text/x-handlebars-template"> 
      <h1>{{ attributes.name }}</h1>
      <h3>{{ attributes.team.name }}</h3>
    </script>

    <script id="event-edit-template" type="text/x-handlebars-template"> 
      <form> 
        Name: 
        <br><input type="text" id="edit-event-name" value="{{ attributes.name }}"><br><br>
        Distance: 
        <br><input type="text" id="edit-event-distance" value="{{ attributes.distance }}"><br><br> 
        Stroke: 
        <br><input type="text" id="edit-event-stroke" value="{{ attributes.stroke}}"><br><br>
        <input type="submit" class="normal_button" value="Update" id="events/{{ id }}">
      </form>
    </script>

    <script id="teams-index-template" type="text/x-handlebars-template">
      {{#each this}}
        <div class="team_card" >
          <h4 id="team-{{ id }}">{{ attributes.name }}</h4>
          <img src="{{ attributes.image-url }}">
          <button class="normal_button" id="teams/{{ id }}">Team Page</>
        </div>
      {{/each}}
    </script>

    <script id="team-show-template" type="text/x-handlebars-template"> 
      <h1>{{ attributes.name }}</h1>
      <h2>{{ attributes.hq }}</h2>
      <div class="team_card_full">
        <img src="{{ attributes.image_url }}">
      </div>
  </body>
</html>


